.visual-histogramCCFC224D9885417F9AAF5BB8D45B007E_DEBUG {
  
}
.visual-histogramCCFC224D9885417F9AAF5BB8D45B007E_DEBUG .overflowingText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf) format('truetype');
}
.visual-histogramCCFC224D9885417F9AAF5BB8D45B007E_DEBUG .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
.visual-histogramCCFC224D9885417F9AAF5BB8D45B007E_DEBUG p {
  font-size: 20px;
  font-weight: bold;
}
.visual-histogramCCFC224D9885417F9AAF5BB8D45B007E_DEBUG p em {
  background: yellow;
  padding: 5px;
}
.visual-histogramCCFC224D9885417F9AAF5BB8D45B007E_DEBUG .axis path {
  fill: none;
  stroke: #cccccc;
  stroke-width: 1px;
}
.visual-histogramCCFC224D9885417F9AAF5BB8D45B007E_DEBUG .axis line {
  stroke: #cccccc;
}
